<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Cash-Link Token</title>
</head>

<body>
  Token ID: {{ token.id }} <br />
  Token Value Amount: {{ token.amount }} <br />
  Enter your Payment Pointer: <input placeholder="$somepaymentpoiner">
  <form method="post">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
