<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Cash-Link Token</title>
</head>

<body>
  <form method="post">
    Token ID: {{ token.id }} <br />
    Token Value Amount: {{ token.amount }} <br />
    Enter your Payment Pointer: <input name="pointer" placeholder="$somepaymentpoiner">
    <button type="submit">Submit</button>
  </form>
</body>

</html>
